// COLORS
$primary-color: #f31a1a;
$secondary-color: #a59e9e;

$white-color: #fff;

$dark-grey: #6d6b6b;

$dark-blue-text: #797b7c; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
